.m-contactform
	form
		margin-top 0em

		input
		textarea
			appearance none
			border-radius 0
			border 1px solid #a8a8a8
			f 13px
			lh 24px
			va middle
			padding 8px 12px
			width 100%
			margin-bottom 30px

			&:focus
			&:active
			&:hover
				border-color $colorOrange
				outline-color transparent
				outline-style none

		textarea
			min-height 200px
