.m-langselector

	display inline-block

	ul
		text-align right
		margin 0
		padding 0
		list-style none

	li
		display inline-block
		margin 0
		padding 0


	@media screen and (max-width: 767px)
		display none

.m-langselector__item
	display inline-block
	vertical-align: middle;
	margin-right: 10px;

	&:hover
		color #f11

.m-langselector__item--active
	color #7f3