.m-logo
	h1
		position: absolute
		left: -9999px
		top: 0px
		display none

	a
		text-indent -9999px
		display: block
		square 77
		background: url(../../images/dist/logo.jpg) no-repeat center
		background-size contain
