@import "base/variables"
@import "helpers"
@import "mixins/dopamine"
//@import "base/reset"

/* VARIABLES
*************************************/
// Refactored as base/variables

/* FONTS
*************************************/

@import "site/fonts"
@import "base/icons"

/* LAYOUT
*************************************/
// @TODO: refactor header/footer to partials/
@import "layout/layout-common"
@import "layout/layout-header"
@import "layout/layout-footer"
@import "layout/layout-homepage"
@import "layout/layout-404"
//LayoutInsertReference

/* MODULES
*************************************/
@import "modules/m-dopamine"
@import "modules/m-logo"
@import "modules/m-langselector"
@import "modules/m-spacer"
@import "modules/m-button"
@import "modules/m-content"
@import "modules/m-contactform"
//ModuleInsertReference


/* DEFAULTS
*************************************/


/* DEBUG, OVERRIDES
*************************************/
div
	outline 0px solid #eee

*
	-webkit-backface-visibility hidden


